@font-face {
  font-family: 'Console';
  src: url(./ms_sans_serif.woff2) format('woff2');
}

* {
  -webkit-font-smoothing: none;
  font-size: 11px;
  font-family: 'Console';
}
#root,
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  font-smooth: never;
-webkit-font-smoothing : none;
background-color: black;
  color: white;
}

canvas {
  height: 100vh;
  width: 100vw;
  image-rendering: pixelated;
}

.stats-box {
  top: 108px !important;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.stats-box > canvas {
  position: initial !important;
}

.leva-c-VuHFz {
  pointer-events: none !important;
  cursor: default;
}